<div class="home-infos-container">
  <p>Si vous souhaitez être maître de jeu connectez-vous : <a routerLink="/login" class="btn btn-primary">Se connecter</a></p>
  
  <div class="home-infos-links">
    <ul>
      @for (link of homeLinks; track $index) {
        @if($index > 0) {
          <li>
            <span class="separator">|</span>
            <a [routerLink]="link.url">{{ link.label }}</a>
          </li>
        }@else {
          <li>
            <a [routerLink]="link.url">{{ link.label }}</a>
          </li>
        }
      }
    </ul>
  </div>
</div>
